body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block {
    display: flex;
    transition: ease-in-out 250ms;
}
.desc {
    width: 50%;
    padding: 20px;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    padding: 20px;
}
o {
    color: orange;
}
y {
    color: rgb(255, 88, 255);
}
z {
    color: greenyellow;
}
c {
    font-family: 'Courier New', Courier, monospace;
}
.o {
    background-color: #ffffff09;
}
.block:hover {
    background-color: #ffffff10;
}